/*Begin Molbile*/
@media screen and (max-width: 640px){
    .desktop{
        display: none;
    }

    .tablet{
        display: none;
    }
    
    header{
        width: 98%;
    }
   
    nav {
        width: 95%;
        margin-left: 0.5em;
    }
  
    main {
        width: 95%;

    }

    nav ul li{
        border-radius: 1em;
    }

    
    .schedule{
        margin-left: -2em;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}
/*End mobile*/